{% extends "KriSpiXVideothequeBundle::layout.html.twig" %}

{% block title %}
  Ajouter un film - {{ parent() }}
{% endblock %}

{% block krispixvideotheque_body %}

  <h2>Ajouter un film</h2>

  {{ include("KriSpiXVideothequeBundle:Movie:form.html.twig") }}

{% endblock %}