{% extends "KriSpiXVideothequeBundle::layout.html.twig" %}

{% block title %}
    Récent - {{ parent() }}
{% endblock %}

{% block krispixvideotheque_body %}

    <h1>Nouveautés</h1>
    <hr/>
    <div class="row">
      {% for movie in listMovies %}    
        {{ include("KriSpiXVideothequeBundle:Movie:thumb.html.twig") }}
      {% else %}
        <p>Pas de films récents</p>
      {% endfor %}
    </div>
    
{% endblock %}